.no-product {
    color: gray;
    font-size:  18px;
    font-weight: 700;
    text-align: center;
}

.product-edit-submit-button {
    text-decoration: none;
    color: lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(31, 100, 31);
}